.home-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 7%;

}
.home-info h2{
    font-size: 2.3rem;
}

.home-info p{
    line-height: 2.0rem;
    margin-bottom: 0;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-info span{
    color: blue;
}

.home-btn {
    margin-top: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}

.home-btn button{
    margin-top: 0;
    border-radius: 30px;
    width: 150px;
    font-size: 1.2rem;
}


.home-pic img{
    display:flow-root;
}

.about-us-header{
    font-size: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 31px 0px #cacacc52;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: blue;
}

.about-us-page{
    padding: 1px 4%;
}

.mission-vision{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.mission-vision img{
    width: 100px;
}

.mission-vision p{
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}


.our-mission{
    background-color:#D9D9D9;
    padding: 10px 5%;
    height: 120px;
}

.world-of-JDG{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 31px 0px #cacacc52;
    padding: 10px 5%;
    height: 120px;
}


.our-vision{
    background-color:  #D9D9D9;
    padding: 10px 5%;
    height: 120px;
}

.mission{
    box-shadow: 0px 4px 31px 0px #cacacc52;
    padding: 2px 2%;
    margin-bottom: 50px;
    
}

.mission h1{
    color: blue;
    margin-bottom: 50px;
}

.mission li{
    margin-bottom: 20px;
    list-style-type:disc;
}



.our-awesome-team{
    margin-top: 8%;
    text-align: center;
    padding: 0 0%;
    letter-spacing: 1px;
}

.our-awesome-team-header{
    font-size: 2rem;
}

.founder{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    border-bottom: 4px solid rgb(255, 254, 254);

}

.founder-details-box{
    width: 25%;
    background-color: #D9D9D966;
    border-radius: 30px;
    text-align: center;
    padding: 20px 2%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.founder-image{
    background: #050611;
    box-shadow: 0px 3.43px 3.43px 0px #0000003D;
    border-radius: 30px;
    padding: 5px 3%;
}

.founder-image img{
    width: 100%;
    height: 200px;
    border-radius: 30px;

}
.founder-details-box h3, .team-name{
   color: blue;
}

.founder-voice {
    width: 80%;
    font-size: 1.2rem;
    padding: 20px 2%;
}

.team-details-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;

}

.team-details-box{
    background-color:  #D9D9D966;
    border-radius: 30px;
    text-align: center;
    padding: 20px 3.5%;
    margin-bottom: 20px;
}

.team-details-image img{
    height: 200px;
    border-radius: 250px;

}

@media screen and (max-width:1000px) {
    
    .home-page{
        margin: 0;
        padding: 0;
    }

    .home-info {
        display: grid;
        padding: 4%;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 120px;
        background-image: url(../../assets/images/homeP.png);
        background-position: center;
        background-color: rgba(0, 0, 0, 0.212);
        display: table;
        background-attachment: fixed;  
    }
    .home-info h2{
        font-size: 2.3rem;
    }
    
    .home-info p{
        line-height: 2.0rem;
        margin-bottom: 0;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .home-pic img{
        display:none;
    }

    .about-us-page{
        padding: 0;
    }
    .mission-vision{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        
    }

    .world-of-JDG{
      display: none;
    }
    
    
    .our-mission{
        background-color: #FFFFFF;
        box-shadow: 0px 4px 22px 0px #00000054;
        padding: 10px 5%;
        height: 120px; 
        margin-bottom: 30px;
    }
    
    .our-vision{
        background-color:  #D9D9D9;
        padding: 10px 5%;
        height: 120px;
        margin-bottom: 30px;
      
    }
    
    .founder{
        display: grid;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
        border-bottom: 4px solid whitesmoke;      
    }

    .founder-details-box{
        width: 350px;
        margin: 0 auto;
        background-color: #D9D9D966;
        margin-bottom: 20px;
    }
    
    .founder-image{
        width:80%;
        margin: 0 auto;
    }

    .founder-voice {
        width: 88%;
        margin: 0 auto;
        font-size: 1.2rem;
        padding: 20px 2%;
        line-height: 2.5rem;
    }
    
    .founder-voice h1 {
      text-align: center;
    }
    
    .team-details-box{
        width: 320px;
        margin: 0 auto;
        background-color:  #D9D9D966;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    
}



